@charset "utf-8";
html{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent}
*,:after,:before{-moz-box-sizing:inherit;-webkit-box-sizing:inherit;box-sizing:inherit}
body{margin:0;background: #f3f4f5;color: #363636;opacity: 0;}
body,button,input,select,textarea{font:14px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
dd,dl,form,p{margin:0}
li,ol,ul{margin:0;padding:0;list-style-type:none;}
em,i{font-style:normal}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
a{color: #000;text-decoration:none;outline:0;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,.1);}
img{border:0;vertical-align:top;width:100%;}
button,input,select,textarea{outline:0;margin:0;-webkit-appearance:none;}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
textarea{resize: none;}
article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
.fl{float: left !important;display:inline;}
.fr{float: right!important;display:inline;}
.mt20{ margin-top: 20px;}
.fn-clear{zoom:1}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.no-data{background: url(../images/no-data.png) no-repeat center top;background-size: .64rem;padding-top: .64rem;text-align:center;margin: .2rem 0;}
.m-conbox{min-width:320px;max-width:640px;margin:0 auto}
em.error{color:red;line-height:20px;font-size: .1rem;height:20px;display:inline-block;vertical-align:text-bottom;z-index: 10;}
em.valid{background-position:0 5px}
.form-item{position:relative;display:-webkit-flex;}
.form-text{overflow:hidden}
.form-label{display:inline-block;text-align:left;line-height: .39rem;font-size: .135rem;color:#666;}
.form-val{position:absolute;top:0;right: .3rem;font-size:.145rem;}
.form-val .unit{font-size: .11rem;margin-right:.03rem;}
.form-input{font-size: .13rem;padding: 0;height: .39rem;border:0;-webkit-flex:1;flex:1;text-align: right;}
.form-item em{position:absolute;left:0;bottom: -18px;}
.form-btn{margin: .4rem 0 .2rem;}
.form-radio{ width:100%; flex:1;}
.form-radio label{float: left;white-space:nowrap;line-height: .39rem;height: .39rem;font-size: .14rem;position: relative;}
.form-radio label input{position:absolute;left:0;top:0;width:100%;height:100%;z-index:9;}
.form-radio label input + i{color: #363636;padding-left: .25rem;display: inline-block;background: #fff url(../images/radio.png) no-repeat left center;background-size: .17rem;}
.form-radio label input[type="radio"]:checked + i{z-index:10;background: #fff url(../images/radio-select.png) no-repeat left center;background-size: .17rem;}
.form-textarea{width: 100%;height: .69rem;line-height: .23rem;resize: none;padding: .1rem;border: 1px solid #eee;box-sizing: border-box;font-size: .135rem;}
.m-more{display: block;line-height: .4rem;font-size: .14rem;text-align: center;margin: 0 0 .1rem;color: #999;}
.m-header {position: relative;background: #26252a;height: 49px;line-height: 49px;color: #fff;}
.m-header .txt{display:block;position: absolute;top: 0;font-size: 14px;height:49px;color: #fff;}
.m-header .ltxt{left: 15px;}
.m-header .rtxt{right: 15px;}
.m-header .icon-back{background:url(../images/back.png) no-repeat left center;background-size: .16rem;padding-left: .2rem;}
.m-header .icon-share{background:url(../images/share.png) no-repeat left center;background-size:.2rem;padding-left: .24rem;}
.m-header h1{position: absolute;top: 0;left: 15%;width: 70%;text-align: center;font-size: 16px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #fff;z-index: 100;height: 49px;}
/*首页*/
.m-index .m-conbox{ position:relative;}
.m-index .map{ width:3.2rem;}
.m-index .map img{ width: 100%; height: 100%; }
.m-index .account,.m-index .location,.m-index .scan,.m-index .kf{display:block;position:absolute;width:.5585rem;height:.5585rem;z-index: 99;}
.m-index .account{top: 0.2rem;right: .2rem;background:url(../images/icon-info.png) no-repeat;background-size:100%;}
.m-index .location{bottom: 0.2rem; left:.2rem;background:url(../images/icon-location.png) no-repeat;background-size:100%;}
.m-index .scan{width:1.61rem;height:.7rem;bottom: 0.15rem;left:50%;margin-left:-.805rem;background:url(../images/icon-scan.png) no-repeat;background-size:100%;cursor: pointer;}
.m-index .kf{bottom: 0.2rem;right: .2rem;background:url(../images/icon-kf.png) no-repeat;background-size:100%;}
/*登录*/
.m-login .logo{ width: .7rem; height: .7rem; margin:.5rem auto; }
.m-login .form{width: 2.58rem;margin:0 auto;}
.m-login .form .form-item{width: 2.4rem;position:relative;line-height: .6rem;height: .6rem;margin: 0 auto;}
.m-login .form .icon{display:block;position:absolute;top:50%;left:0;margin-top:-.1rem;width: .2rem;height: .2rem;background:url(../images/icon.png) no-repeat;background-size:100%;}
.m-login .form .form-input{border-bottom: 1px solid #ddd;background: none;padding: 0 0 0 .3rem;width: 100%;font-size: .15rem;height: .6rem;line-height: .6rem;text-align: left;}
.m-login .form .icon-phone{ background-position:0 0;}
.m-login .form .icon-code{ background-position:0 -.2rem;}
.m-login .form-code{position:absolute;top: .14rem;right:0;width: .8rem;height: .3rem;border-radius: .15rem;z-index: 99;font-size: .13rem;border: 1px solid #f4c527;background: transparent;color: #f4c527;}
.m-login .form-code[disabled=disabled]{border: 1px solid #cdcdcd;color: #cdcdcd;}
.m-login .form .btn{display: block;width:2.58rem;height: .5035rem;color: #363636;margin: 0 auto;padding: .04rem 0 0.105rem;border: 0;font-size: .15rem;background: url(../images/btn.png) no-repeat;background-size: 100%;}
.m-login .form .form-tip{color:#686868; font-size:.12rem;margin-top:.15rem;padding: 0 .09rem;}
.m-login .form .form-tip span{ color:#f4c527;}
/*表单*/
.m-form{margin-top: .1rem;}
.m-form form{ }
.m-form .form-logo{width: .8rem;margin: .35rem auto;height: .8rem;}
.m-menu .logo img{ border-radius:50%;}
.m-form .form-item{line-height: .39rem;padding-right: .3rem;}
.m-form .form-item + .form-item{ border-top:1px solid #e7e7e7;}
.m-form .form-item a{display:block;width: 100%;}
.m-form .form-radio label{ float:right;}
.m-form .form-radio label + label{margin-right: .4rem;}
.m-form .form-tip{color:#686868;font-size:.12rem;line-height:.35rem;padding: 0 .12rem;}
.m-form .form-tip span{ color:#f4c527;}
.m-form .form-tip .icon{display: inline-block;width:.2rem;height: .2rem;vertical-align: -.065rem;background:url(../images/info.png) no-repeat;background-size:100%;margin-right: .05rem;}
.m-form .btn{display: block;width:2.58rem;height: .5035rem;color: #363636;margin: 0 auto;padding: .04rem 0 0.105rem;border: 0;font-size: .15rem;background: url(../images/btn.png) no-repeat;background-size: 100%;cursor: pointer;}
.m-form .btn[disabled=disabled]{color:#fff;background: url(../images/btn-gray.png) no-repeat;background-size: 100%;}
.m-form .form-price{border-top:1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;line-height: .5rem;margin-bottom: .1rem;}
.m-form .form-price .form-label{  color:#363636;}
.m-form .form-price .form-control{position:relative;}
.m-form .form-price .form-control input{border:0;line-height:.5rem;padding: 0 0 0 .6rem;font-size: .15rem;width: 100%;}
.m-form .form-price .form-control .unit{position:absolute;top:0;left:0;font-size: .23rem;}
.m-form .form-data{}
.m-form .icon-arrow{display:block;position:absolute;top:50%;right: .1rem;margin-top: -.1rem;width:.2rem;height:.2rem;background: url(../images/icon.png) no-repeat;background-size: .2rem;background-position: right -.4rem;}
/*钱包*/
.m-package{background: #fff;padding: 0 0 0 .12rem;font-size:.13rem;border-top: 1px solid #d5d5d8;border-bottom: 1px solid #d5d5d8;}
.m-charge{padding: .12rem .12rem 0;}
.m-charge h2{ color:#aeaeae; font-size: .13rem; line-height: .3rem; }
.m-charge .money{background:#fff;overflow: hidden;border-radius: .05rem;padding: .11rem;}
.m-charge .money .item{float:left;white-space:nowrap;width: 1.2rem;line-height: .5rem;height: .5rem;text-align: center;margin: .085rem;font-size: .14rem;position: relative;box-sizing: border-box;color: #363636;z-index:10;border: 2px solid #e5e5e5;border-radius: 5px;background:#fff;overflow: hidden;}
.m-charge .money .item.selected{z-index:10;background:#fff url(../images/selected.png) no-repeat right bottom; background-size: .17rem; border: 2px solid #f4c527;}
.m-charge .money .item input{width:100%;height: .49rem;border: 0;vertical-align: top;text-align: center;font-size: .14rem;background: transparent;}
/*充值*/
.m-wthdrawals{margin: .22rem .12rem 0;padding:.1rem;background:#fff;border-radius: .05rem;}
.m-form .m-wthdrawals .form-item{ padding-right:0;}
.m-form .m-wthdrawals .form-val{ right:0;}
.tab{overflow:hidden;border-bottom: 1px solid #dbdbde;line-height:.39rem;display:flex;font-size: .14rem;background: #fff;}
.tab a{position:relative;width: 50%;flex:1;text-align:center;}
.tab .on:after{content:'';position:absolute;left:50%; bottom:0; margin-left:-.25rem; width:.5rem; height:3px; background:#f4c527;}
/*个人信息*/
.m-info{background: #fff;padding: 0 0 0 0.12rem;font-size:.13rem;border-top: 1px solid #d5d5d8;border-bottom: 1px solid #d5d5d8;}
.m-info em{left:auto;right: .3rem;}
/*帮助*/
.m-help{font-size:.13rem;margin: .1rem 0;background:#fff;border-top: 1px solid #d5d5d8;border-bottom: 1px solid #d5d5d8;}
.m-help ul{padding: 0 0 0 .12rem;}
.m-help ul li{line-height: .39rem;padding-right: .12rem;}
.m-help ul li + li{ border-top:1px solid #e7e7e7;}
.m-help ul li a{display: block; position: relative; color:#363636;}
.m-help ul li .arrow{display: block;position:absolute;top:50%;right: 0;width:.2rem;height:.2rem;margin-top: -.1rem;background: url(../images/icon.png) no-repeat;background-size:100%;background-position: 0 -.4rem;}
/*协议*/
.m-agree{color:#666;padding:20px;font-size:14px;line-height: 26px;}
.m-agree h2{font-size:20px;text-align:center;margin-bottom: 10px;color: #000;}
.m-agree .tit{font-weight:bold; color:#000; margin-top:14px;}
/*反馈*/
.m-feedback{ margin: .08rem 0;background:#fff; padding-left:.12rem;}
.m-feedback .form-item{display: block;overflow: hidden;padding-right: .12rem;}
.m-feedback .form-item + .form-item{ border-top:1px solid #e7e7e7;}
.m-feedback .form-label{width:100%;float: none;}
.m-feedback .form-item .form-control{overflow: hidden;margin-bottom: .15rem;}
.m-feedback .form-radio label{ float:left;}
.m-feedback .form-radio label + label{margin: 0 0 0 .15rem;}
.m-feedback .form-input{width:100%;text-align:left;border: 1px solid #eee;padding: 0 .1rem;}
.m-feedback .pic{float:left;width:.55rem;height:.55rem;border:1px solid #eee;margin-left:.05rem;margin-bottom:.05rem;position: relative;}
.m-feedback .pic:nth-child(5n+1){ margin-left:0;}
.m-feedback .upload:after, .m-feedback .upload:before {content: " ";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);background-color: #d9d9d9;}
.m-feedback .upload:after {width:.3rem;height: 2px;}
.m-feedback .upload:before {width: 2px;height: .3rem;}
.m-feedback .upload input{position: absolute;z-index: 1;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);}

.m-menu{text-align:center;height: 100%;width: 70%;background: #fff;position: fixed;top: 0;right: -70%;z-index: 101;overflow: hidden;-webkit-box-shadow: 3px 0 7px rgba(93, 93, 93, 0.55);-moz-box-shadow: 3px 0 7px rgba(93, 93, 93, 0.55);box-shadow: 3px 0 7px rgba(93, 93, 93, 0.55);font-size: 0.14rem;}
.m-menu .logo{width: .8rem;margin: .35rem auto 0;height: .8rem;}
.m-menu .logo img{ border-radius:50%;}
.m-menu .name{color:#000;margin-top: .1rem;font-size: .2rem;}
.m-menu ul{z-index: 101;overflow-y: auto;overflow-x: hidden;text-align: left;margin-top: 0.15rem;}
.m-menu ul li{display: block;white-space: nowrap;line-height:.42rem;}
.m-menu ul li a{display: block;padding: 0 .2rem 0 .5rem;position: relative;}
.m-menu ul li i{display: block;position:absolute;top:50%;width:.2rem;height:.2rem;margin-top: -.1rem;}
.m-menu ul li .icon{left: .2rem;background: url(../images/menu.png) no-repeat;background-size:100%;background-position: 0 -.4rem;}
.m-menu ul li .icon-01{ background-position:0 0;}
.m-menu ul li .icon-02{ background-position:0 -.2rem;}
.m-menu ul li .icon-03{ background-position:0 -.4rem;}
.m-menu ul li .icon-04{ background-position:0 -.6rem;}
.m-menu ul li .icon-05{ background-position:0 -.8rem;}
.m-menu ul li .icon-06{ background-position:0 -1rem;}
.m-menu ul li .arrow{right: .2rem;background: url(../images/icon.png) no-repeat;background-size:100%;background-position: 0 -.4rem;}
.m-menu ul li a .num{display: block;position:absolute;right: .4rem;top: 50%;margin-top: -.0725rem;background:#f78602;color:#fff;line-height: .15rem;border-radius: .0725rem;padding: 0 .03rem;font-weight: lighter;}
.mask{position: fixed;z-index: 99;background-color: rgba(0,0,0,0.7);bottom: 0;right: 0;left: 0;top: 0;display: none;}
.openmenu .mask{display:block;}

.m-search{ background:#eee; padding:.15rem;}
.m-search input{border:0;width:100%;height:.4rem;line-height:.4rem;padding:.05rem .15rem;box-sizing:border-box;border-radius: .05rem;}
.m-order .list{ padding:.12rem;}
.m-order .list li{padding:.15rem 0;background:#fff;border-radius: .05rem;}
.m-order .list li p{line-height:.24rem;padding:0 .15rem;color: #999;}
.m-order .list li .time{border-bottom:1px solid #e7e7e7;margin-bottom:.1rem;padding-bottom: .1rem;color: #333;}
.m-order .list li + li{ margin-top:.15rem;}
/*日期插件*/
.gearDate{font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 10px;background-color: rgba(0, 0, 0, 0.2);display: block;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9900;overflow: hidden;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.date_ctrl{vertical-align: middle;background-color: #fff;color: #000;margin: 0;height: auto;width: 100%;position: absolute;left: 0;bottom: 0;z-index: 9901;overflow: hidden;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slideInUp{-webkit-animation: slideInUp .3s;animation: slideInUp .3s;}
@-webkit-keyframes slideInUp{from{-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0)}
to{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}}
@keyframes slideInUp{from{-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0)}
to{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}}
.ym_roll,
.date_roll,
.datetime_roll,
.time_roll{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;width: 100%;height: auto;overflow: hidden;background-color: transparent;-webkit-mask: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36, 142, 36, 0)));-webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0));}
.ym_roll>div,
.date_roll>div,
.datetime_roll>div,
.time_roll>div{font-size: 2em;height: 10em;float: left;background-color: transparent;position: relative;overflow: hidden;-webkit-box-flex: 4;-webkit-flex: 4;-ms-flex: 4;flex: 4;}
.ym_roll>div .gear,
.date_roll>div .gear,
.datetime_roll>div .gear,
.time_roll>div .gear{width: 100%;float: left;position: absolute;z-index: 9902;margin-top: -4em}
.date_roll_mask{-webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36, 142, 36, 0)));-webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));padding: 0}
.date_roll>div:nth-child(2){-webkit-box-flex: 2;-webkit-flex: 2;-ms-flex: 2;flex: 2}
.date_roll>div:nth-child(1),
.datetime_roll>div:nth-child(1){-webkit-box-flex: 4;-webkit-flex: 4;-ms-flex: 4;flex: 4}
.datetime_roll>div:first-child{-webkit-box-flex: 6;-webkit-flex: 6;-ms-flex: 6;flex: 6}
.datetime_roll>div:last-child{-webkit-box-flex: 6;-webkit-flex: 6;-ms-flex: 6;flex: 6}
.date_grid{position: relative;top: 4em;width: 100%;height: 2em;margin: 0;box-sizing: border-box;z-index: 0;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.date_grid>div{color: #000;position: absolute;right: 0;top: 0;font-size: .8em;line-height: 2.5em}
.date_roll>div:nth-child(3) .date_grid>div{left: 42%}
.datetime_roll>div .date_grid>div{right: 0}
.datetime_roll>div:first-child .date_grid>div{left: auto;right: 0%}
.datetime_roll>div:last-child .date_grid>div{left: 50%}
.time_roll>div:nth-child(1) .date_grid>div{right: 1em}
.ym_roll>div:nth-child(1) .date_grid>div{right: .1em}
.ym_roll>div .date_grid>div,
.time_roll>div .date_grid>div{right: 5em}
.date_btn{color: #0575f2;font-size: 1.6em;line-height: 1em;text-align: center;padding: .8em 1em}
.date_btn_box:before,
.date_btn_box:after{content: '';position: absolute;height: 1px;width: 100%;display: block;z-index: 15;-webkit-transform: scaleY(0.33);transform: scaleY(0.33);}
.date_btn_box{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;background-color: #f1f2f4;position: relative}
.date_btn_box:before{left: 0;top: 0;-webkit-transform-origin: 50% 20%;transform-origin: 50% 20%}
.date_btn_box:after{left: 0;bottom: 0;-webkit-transform-origin: 50% 70%;transform-origin: 50% 70%}
.date_roll>div:nth-child(1) .gear{text-indent: 20%}
.date_roll>div:nth-child(2) .gear{text-indent: -20%}
.date_roll>div:nth-child(3) .gear{text-indent: -55%}
.datetime_roll>div .gear{width: 100%;text-indent: -25%}
.datetime_roll>div:first-child .gear{text-indent: -10%}
.datetime_roll>div:last-child .gear{text-indent: -50%}
.ym_roll>div .gear,
.time_roll>div .gear{width: 100%;text-indent: -70%}
.ym_roll>div:nth-child(1) .gear,
.time_roll>div:nth-child(1) .gear{width: 100%;text-indent: 10%}
.tooth{height: 2em;line-height: 2em;text-align: center}


.m-show{position:fixed;bottom: .1rem;left:0;right:0;width: 3rem;margin:auto;z-index:9999;font-size: .12rem;}
.m-show .box{background: rgba(255,255,255,.95);line-height:.5rem;border-radius: .05rem;}
.m-show .box a{display:block;text-align: center;}
.m-show .box a + a{ border-top:1px solid #f2f2f2;}
.m-show .box a.red{ color:red;}
.m-show .box a.blue{color: #00b8ff;}
.m-show .box + .box{margin-top: .05rem;}
.m-show .form{background: rgba(255,255,255,.95);padding: .2rem .15rem;border-radius: .05rem;}
.m-show .form input[type=text]{width:100%;padding: .12rem;border-radius:.05rem;border: 2px solid #fad126;margin-bottom: .15rem;}
.m-show .form input[type=submit]{display: block;width: 100%;height: .5035rem;color: #363636;margin: 0 auto;padding: .07rem 0 0.105rem;border: 0;font-size: .15rem;background: url(../images/btn.png) no-repeat;background-size: 100%;}

.amap-icon {width: 28px !important;height: 45px !important;}
.map-window{
  background: white;
  width: 80vw;
  padding: .1rem !important;
  font-size: 13px;
  -webkit-box-shadow: 10px 10px 3px rgba(0,0,0,.2) !important;
}
.window-title{font-size: 17px;font-weight: bold}
.window-content-item{height: 3.5vh;}
.amap-logo{ display: none;  }
